*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../assets/agua.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    color: white;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: #ffffffb7;
    margin: 0 20px 0px 50px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}

.pergunta {
    width: 720px;
    margin-bottom: 25px ;
    text-align: center;
    background-color: rgb(233, 255, 255);
    color: rgb(0, 73, 132);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.565),
                0 0 80px rgba(255, 255, 255, 0.67),
                0 0 80px rgba(255, 255, 255, 0.576),
                0 0 80px rgba(255, 255, 255, 0.67);
                border-radius: 10px;
                padding: 20px;

}

.respostas1e2, .respostas3e4 {
    display: flex;
    width: 600px;
}	

.resposta {
    margin: 10px;
    padding: 20px; 
    text-align: center;
    background-color: #f0f0f0;
    border: 3px solid rgb(233, 255, 255);
    border-radius: 15px;
    width: 600px;
    height: 76px;
    background-color: rgb(119, 219, 207);
    color: rgb(0, 73, 132);
}

.resposta:hover {
    cursor: pointer;
    background-color: #60cfff;
    transition: 1s;
    border: 3px solid #60cfff;
    border-radius: 15px;
}

#feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 170px);
    gap: 80px;
}

.feedback h2{
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
    font-size: 50px;
}

.feedback p{
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

.botao-feedback {
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: 3px solid rgb(255, 255, 255);
    width: 10%;
    color: #00d1d8;
    text-transform: uppercase;
}

.botao-feedback:hover{
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(105, 230, 255);
    border-color: rgb(105, 230, 255);
    transition: 1s;
    color: white;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-home {
    height: 100vh;
    background-image: url(../assets/bg-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    color: white;
}

.cabecalho {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.menu-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nome-quiz {
    margin-bottom: 20px;
    font-size: 6.25rem;
}

.container-botao {
    display: flex;
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 700px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #00d1d8;
    background-color: white;
}

.container-botao:hover{
    background-color: rgb(105, 230, 255);
    transition: 1s;
    color: white;
    border-color: rgb(105, 230, 255);
}